/* input[type=text] {
    width: 700px;
    height:35px;
    box-sizing: border-box;
    border:2px solid lightgray;
    border-radius: 4px;
  }
  
  select {
    width: 340px;
    height:35px;
    box-sizing: border-box;
    border:2px solid lightgray;
    border-radius: 4px;
  }

  input[type=textarea] {
    width: 700px;
    height: 100px;
    box-sizing: border-box;
    border:2px solid lightgray;
    border-radius: 4px;
  }

  input[type=submit] {
    width: 25%;
    height: 40px;
    margin-left: 250px;
    margin-bottom: 30px;
    margin-top: 10px;
    box-sizing: border-box;
    border:2px solid gray;
    border-radius: 8px;
  } */

  